.header{
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font: size 30px;
}
body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }
